* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Times', serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vw;
    z-index: 1; /* Ensures text is above background */
    overflow: auto; /* Allows scrolling when content overflows */
}

.title {
    font-size: 10vw;
    line-height: 0.9;
    text-align: left;
    font-family: 'Times', serif;
}

.details, h1, h2, h3, h4 {
    font-size: 2.5vw;
    line-height: 1.0;
    text-align: left;
    font-family: 'JetBrains Mono', monospace;
}

.details ul {
    list-style-type: none; /* Removes the bullets from the list */
    padding: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/MM-dpp.jpg'); /* Use a direct path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0; /* Background layer is beneath text */
}

p, h1, h2, h3, h4 {
    padding-top: 1vw;
    padding-bottom: 1vw;
}

a {
    color: white;
}

ul, li {
    padding: 0vw;
    margin: 0vw;
}

ul {
    padding-top: 1vw;
    margin-top: 1vw;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
}

@media (max-width: 768px) {
    .details {
        font-size: 3.3vw;
    }
}
